<!-- views/product-detail.ejs -->
<section id="product-detail">
    <h2><%= product.name %></h2>
    <img src="<%= product.imageURL %>" alt="<%= product.name %>">
    <p>Price: <%= product.description %> Euro</p>
    <p><%= product.description %></p>
    <!-- ... any other product details you'd like to include ... -->
    <button>Add to Cart</button>
</section>